header {
    display: inline-block;
    list-style: none;
    padding: .5em;
    border: solid 2px #000;

}

footer {
    border: solid 2px #000;
    padding-top: 7px;
    margin: 10px;
}

h2, h3 {
    font-weight: bold;
}

nav {
    border: solid 2px #000;
}

    nav ul li {
        display: inline-block;
        list-style: none;
        font-weight: bold;
        padding-top: 10px;
    }

        nav ul li a {
            padding: 50px;
        }

body {
    margin-top: 10px;
}

.logo {
    height: 100px;
}

.active {
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
}

.about {
    background-color: aliceblue;
    padding: 5px;
}

.tab {
    margin-left: 40px;
}

.chooseUs {
    margin: initial;
    padding-top: 200px;
}

.button {
    background-color: blue;
    border-radius: 20px;
    color: white;
}

.classCard {
    height: 500px;
    width: 335px;
    margin: 20px;
    border: solid 2px #000;
}

.imgSize {
    padding: 10px;
    height: 300px;
}

.tableMarg {
    padding: 5px;
}

.tabTitle {
    list-style: none;
}

.sideNav {
    border: solid 2px #000;
    position: inherit;
    height: 1000px;
}

.tabSide {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.team {
    padding: 10px;
    margin: 10px;
}